@model IEnumerable<HaloAcademy.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<div class="col-md-4">
    <h2>My information</h2>
    <p>
        My Name is Troy Davidson. 
        Phone Number is 123-456-7890.
        Email is dav19016@byui.edu
    </p>
</div>
