@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AJAM Cadet Academy</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to AJAM Cadet Academy</h2>
        <p>
            Avery J. Johnson Academy of Military Science (abbreviated AJJ and AJJAMS, 
            pronounced "A-Jams") was a hidden UNSC colonial installation responsible for the continued 
            training and education of Spartan supersoldiers after the destruction of key Spartan-IV 
            training stations during the Created uprising.
        </p>
    </div>
    <div class="col-md-4">
        <img class="haloimg" src="~/images/AJAMCadets2.webp" alt="AJJAMS" />
    </div>
    <div class="col-md-4">
        <img class="haloimg" src="~/images/halo.jpg" alt="AJJAMSHalo" />
    </div>
</div>