@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AJAM Cadet Academy</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to AJAM Cadet Academy</h2>
        <p>
            Avery J. Johnson Academy of Military Science (abbreviated AJJ and AJJAMS, 
            pronounced "A-Jams") was a hidden UNSC colonial installation responsible for the continued 
            training and education of Spartan supersoldiers after the destruction of key Spartan-IV 
            training stations during the Created uprising.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/images/AJAMCadets2.webp" alt="AJJAMS" />
    </div>
    <div class="col-md-4">
        <h2>What is a Spartan?</h2>
        <p>
            A Spartan is a genetically engineered supersoldier created by the Office of Naval Intelligence
            (ONI) to serve as the UNSC's primary military force. The Spartan program was created in 2525
            by ONI Director Avery Johnson, who sought to create a new generation of supersoldiers to
            replace the Spartan-II program, which had been destroyed in the Fall of Reach. The Spartan
            program was designed to be a more flexible and adaptable force than the Spartan-II program,
            and was intended to be used in a variety of roles, including as a special operations force,
            as a conventional infantry force, and as a special weapons platform.
        </p>
</div>
</div>