@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AJAM Cadet Academy</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to AJAM Cadet Academy</h2>
        <p>
            Avery J. Johnson Academy of Military Science (abbreviated AJJ and AJJAMS, 
            pronounced "A-Jams") was a hidden UNSC colonial installation responsible for the continued 
            training and education of Spartan supersoldiers after the destruction of key Spartan-IV 
            training stations during the Created uprising.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>